<html>

<head>
	<link rel="shortcut icon" href="/static/images/favicon.ico" />

	<title>What are you doing? | DoaDoing.com</title>
	<link rel="stylesheet" type="text/css" href="/static/css/Doingg.css" />
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/js/Doingg.js"></script>
	<script type="text/javascript" src="/static/js/date.js"></script>
	<script type="text/javascript" src="/static/js/time.js"></script>

	<link rel="stylesheet" href="/static/flags/flags.css" />
	<link rel="stylesheet" href="/static/Leaflet/dist/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/static/Leaflet/dist/leaflet.ie.css" /><![endif]-->

    <script type="text/javascript" src="/static/Leaflet/dist/leaflet.js"></script>
    <script type="text/javascript" src="/static/Mapbox-wax/dist/wax.leaf.min.js"></script>

    <script type="text/javascript" src="/static/js/heatcanvas.js"></script>
    <script type="text/javascript" src="/static/js/heatcanvas-leaflet.js"></script>

    <script type="text/javascript" src="/static/jqplot/dist/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="/static/jqplot/dist/plugins/jqplot.dateAxisRenderer.min.js"></script>

	<link class="include" rel="stylesheet" type="text/css" href="/static/jqplot/dist/jquery.jqplot.min.css" />

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

	<script type="text/javascript">

	var server_date = "{{date}}";

	var poll_enabled = true;

	var geoip = {
		'country' : '{{geolocation.country}}' ,
		'coords'  : {
			'latitude'  : {{geolocation.latitude|default_if_none:"0"}} ,
			'longitude' : {{geolocation.longitude|default_if_none:"0"}}
		}
	};

	var locked_actions = [ {% for key in locked_actions %}{{key}}{% if not forloop.last %},{%endif%}{% endfor %} ];

	</script>

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33048391-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
	<div id="content">
		<table>
			<tr>
				<td valign="top">
					<a href="/"><img height="55" src="/static/images/logo.png"></a>
				</td>
				<td valign="top" style="padding-left:10px;padding-top:20px;">

					<textarea class="disabled" id="new_action">What are you doing?</textarea>

					<div id="share_container">
						<div id="share">
							<div id="share_char_limit">70</div>
							<a class="btn" id="btn_new_action">Share</a>
						</div>
					</div>
				</td>
			</tr>
		</table>

		<img id="country_flag" src="/static/images/Transparent.gif" class="flag" alt="" />
		<div id="country"></div> | 
		<div id="locality"></div> |
		<div id="change_location">Change Location</div>

		<div id="mapbox"></div>

		<div style="margin-top:5px;width:100%;height:1px;background-color:#333333;"></div>

		<h2>Happening Right Now</h2>

		<div id="actions">

			{% for a in actions %}

			<div id="action_{{a.id}}" actionid="{{a.id}}" date="{{a.date_time|date:'Y-m-d H:i:s'}}" class="action">

				<div class="action_time" actionid="{{a.id}}"> - </div>

				<div id="action_content_{{a.id}}" class="action_content">{{a.content}}</div>

				<div class="action_metoos">
					<div id="me_too_count_{{a.id}}" class="me_too_count">{{a.metoo_set.count}}</div>
					<a class="btn me_too" actionid="{{a.id}}">me too</a>
				</div>

			 </div>
			{% endfor %}
		</div>
	</div>

</body>
</html>
